{% extends "register/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if notice %}
        Edytuj uwage dla:
        {{ notice.to_user.user.first_name }} {{ notice.to_user.user.last_name }}
    {% else %}
        Napisz uwage dla:
        {{ student.user.first_name }} {{ student.user.last_name }}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" name="button" value="form_btn">Zatwierdź</button>
        </div>
    </form>
{% endblock content %}