{% extends "register/main.html" %}
{% load users.extras %}

{% block content %}
    <h3 class="mb-3">Powiadomienia</h3>

    {% if object_list %}
        {% for message in object_list %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ message.date|date:"F d, Y" }} </small>
                </div>
              <a class="article-title" href="#">
                {% if message.read == False %}
                    <p class="article-content font-weight-bold">{{ message.text }}</p>
                {% else %}
                    <p class="article-content">{{ message.text }}</p>
                {% endif %}
              </a>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <h4 class="mb-3">Brak powiadomien</h4>
    {% endif %}
{% endblock content %}