{% extends "register/base.html" %}
{% load register.extras %}
{% block content %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">Klasa: {{ detail_class.name }}</h2>
                    <h4>Opis: {{ detail_class.description }}</h4>
                    <h4>
                        Wychowawca: <a href="{% url 'teacher-details' detail_class.educator.id %}">
                        {{ detail_class.educator }}</a>
                    </h4>
                    <h5><a href="{% url 'class-schedule' detail_class.id %}">Plan zajęć</a></h5>
                        {% if user.profile.role == 2 %}
                            {% if user.teacher == detail_class.educator %}
                                <h4><a href="{% url 'add-advert-class' detail_class.id %}">Dodanie ogloszenia</a></h4>
                            {% endif %}
                        {% endif %}
                </div>
            </div>
            <article class="media content-section">
              <div class="media-body">

                        <div class="article-metadata">
                            <ol>
                                {% for student in students %}
                                    {% if student|check_role:user %}
                                    <li><a href="{% url 'student-details' student.id %}">{{ student }}</a></li>
                                    {% else %}
                                    <li>{{ student }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
              </div>
            </article>
        </div>
        {% if adverts %}
        <h3>Ogloszenia:</h3><br>
        {% for advert in adverts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <p class="mr-2">
                        <a href="{% url 'teacher-details' advert.author.id %}">
                            {{ advert.author.user.first_name }} {{ advert.author.user.last_name }}</a>
                    {% if advert.author == request.user %}
                        <a href="{% url 'edit-advert-class' advert.id %}" class="float-right">Modyfikuj</a>
                    {% endif %}
                    </p>
                </div>
                    <b><p class="article-title">{{ advert.title }}</p></b>
                    <p class="article-content">{{ advert.text }}</p>
                  <small class="text-muted">{{ advert.date|date:"F d, Y" }} </small>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Brak ogloszen</p>
    {% endif %}
{% endblock content %}
