{% extends "register/base.html" %}
{% load register.extras %}
{% block content %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">Klasa: {{ detail_class.name }}</h2>
                    <h4>Opis: {{ detail_class.description }}</h4>
                    <h4>
                        Wychowawca: <a href="{% url 'teacher-details' detail_class.educator.id %}">
                        {{ detail_class.educator }}</a>
                    </h4>
                    <h4>Przedmiot: {{ subject.name }}
                    </h4>
                    {% teacher_class_subject subject detail_class as teacher %}
                    <h4>Nauczyciel przedmiotu: <a href="{% url 'teacher-details' teacher.id %}">{{ teacher }}</a></h4>
                </div>
            </div>
            <article class="media content-section">
              <div class="media-body">

                        <div class="article-metadata">
                            <ol>
                                {% for student in students %}
                                    <li>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <a href="{% url 'student-details' student.id %}">{{ student }}</a><br>{{ form }}
                                    <button class="btn btn-outline-info" type="submit" name="button" value="{{ student.id }}">Dodaj</button>
                                    </form>
                                    </li>
                                {% endfor %}

                            </ol>
                        </div>
              </div>
            </article>
        </div>
{% endblock content %}
