{% extends "register/base.html" %}
{% load register.extras %}
{% load static %}
{% block js_load %}
    <script src="{% static "register/checkbox.js" %}" type="text/javascript"></script>
{% endblock js_load %}
{% block content %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">Klasa: {{ detail_class.name }}</h2>
                    <h4>Opis: {{ detail_class.description }}</h4>
                    <h4>Wychowawca: <a href="{% url 'teacher-details' detail_class.educator.id %}">
                        {{ detail_class.educator }}</a></h4>
                    <h4>Przedmiot: {{ schedule.subject.name }}
                    </h4>
                    {% teacher_class_subject schedule.lesson.subject detail_class as teacher %}
                    <h4>Nauczyciel przedmiotu: {{ teacher }}</h4>
                    <h5>Dzisiaj: {{ today }}</h5>
                </div>
            </div>
            <article class="media content-section">
              <div class="media-body">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="article-metadata">
                            <table class="table">
                            <tr>
                                <th>Nr</th>
                                <th>Uczen</th>
                                <th><input id="check_all" type="checkbox" name="all"> Obecnosc</th>
                            </tr>
                                {% for student in students %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'student-details' student.id %}">{{ student }}</a></td>
                                    {% if not student|student_presence_get:schedule %}
                                        <td><input class="students" type="checkbox" name="student" value="{{ student.id }}"></td>
                                    {% else %}
                                        <td><input class="students" type="checkbox" name="student" value="{{ student.id }}" checked></td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                <button class="btn btn-outline-info" type="submit" name="button">Zatwierdz</button>
                </form>
              </div>
            </article>
        </div>
{% endblock content %}
