{% extends "register/base.html" %}
{% load register.extras %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
          <h4>Klasy których uczysz</h4><br>
          {% if subjects %}
              <table class="table">
                    <tr>
                        <th>Przedmiot, klasa, wychowawca</th>
                        <th>Dodawanie ocen</th>
                        <th>Sprawdzanie obecnosci</th>
                    </tr>
                  {% for item in subjects %}
                    <tr>
                        <td>
                            <a class="mr-2" href="{% url 'class-details-grades' item.subject.id item.classes.id %}">
                                {{ item.subject.name }} {{ item.classes.name }} - {{ item.classes.educator }}
                            </a>
                        </td>
                        <td>
                            <a class="mr-2" href="{% url 'class-grade-add' item.classes.id item.subject.id %}">Dodawanie Ocen</a>
                        </td>
                        <td>
                            {% if item|subject_today:weekday_now %}
                                <a class="mr-2" href="{% url 'class-presence-add' item.classes.id item.subject.id %}">
                                    Sprawdzenie obecności
                                </a>
                            {% else %}
                                <p>dzisiaj nie ma zajec</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

</table>
          {% else %}
            <p>Brak przedmiotów</p>
          {% endif %}
          </div>
        </article>
{% endblock content %}