{% extends "register/base.html" %}
{% load crispy_forms_tags %}
{% load register.extras %}
{% block content %}
    <div class="text-center">
        <h2>Panel nauczyciela</h2>
        <hr class="my-4">
            <p class="lead">
                <div class="d-flex justify-content-center flex-wrap">
                    {% if educator %}
                        <a class="btn btn-lg btn-info btn-main m-2" href="{% url 'class-details' educator.id %}" role="button">Klasa wychowawstwo</a>
                    {% endif %}
                    <a class="btn btn-lg btn-info btn-main m-2" href="{% url 'teacher-subjects-view' %}" role="button">Klasy zajecia</a>
                    <a class="btn btn-lg btn-info btn-main m-2" href="{% url 'teacher-schedule' teacher.id %}" role="button">Plan zajęć</a>
                    <a class="btn btn-lg btn-info btn-main m-2" href="{% url 'notices-teacher' %}" role="button">Uwagi</a>
                    <a class="btn btn-lg btn-info btn-main m-2" href="{% url 'adverts-teacher' %}" role="button">Dodane ogloszenia</a>
                </div>
            </p>
    </div>
{% endblock content %}
