{% extends "register/base.html" %}
{% load register.extras %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle article-img" src="{{ teacher.user.profile.image.url }}">
            <div class="media-body">
                <h4 class="account-heading">
                    Imie i nazwisko: {{ teacher.user.first_name }} {{ teacher.user.last_name }}
                </h4>
                <h4>Email: {{ teacher.user.email }}</h4>
                {% if educator %}
                    {% for edu in educator %}
                        <h4>Wychowawca klasy: <a href="{% url 'class-details' edu.id %}">{{ edu.name }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}